jinja2
premailer
matplotlib
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
python-dotenv
python-docx
playwright
requests
openpyxl
numpy
sounddevice
soundfile
faster-whisper
